/* Deprecated as of 4.4.0 */
.pull-right {
	float: right;
}

/*
*************************
* Material Design Icons
*************************
*/
@font-face {
	font-family: "Material Design Icons";
	src: url("../fonts/materialdesignicons-webfont.eot?v=1.4.57");*/
	src: url("https://fonts.googleapis.com/icon?family=Material+Icons");
	src: url("https://fonts.googleapis.com/icon?family=Material+Icons") format("embedded-opentype"), url("../fonts/materialdesignicons-webfont.woff2?v=1.4.57") format("woff2"), url("../fonts/materialdesignicons-webfont.woff?v=1.4.57") format("woff"), url("../fonts/materialdesignicons-webfont.ttf?v=1.4.57") format("truetype"), url("../fonts/materialdesignicons-webfont.svg?v=1.4.57#materialdesigniconsregular") format("svg");
	font-weight: normal;
	font-style: normal;
}

.mdi {
	display: inline-block;
	font: normal normal normal 24px/1 "Material Design Icons";
	font-size: large;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
}

.mdi-account-multiple-plus:before {
	content: "\f10f";
}
.mdi-checkbox-marked-circle-outline:before {
	content: "\f22a";
}
.mdi-chevron-double-down:before {
	content: "\f232";
}

.mdi-chevron-up:before {
	content: "\f239";
}

.mdi-email:before {
	content: "\f2e3";
}

.mdi-phone:before {
	content: "\f4e1";
}
.mdi-whatsapp:before {
    content: "\f690"
}

.mdi-18px {
	font-size: 18px;
}

.mdi-24px {
	font-size: 24px;
}

.mdi-36px {
	font-size: 36px;
}

.mdi-48px {
	font-size: 48px;
}

.mdi-dark {
	color: rgba(0, 0, 0, 0.54);
}

.mdi-dark.mdi-inactive {
	color: rgba(0, 0, 0, 0.26);
}

.mdi-light {
	color: white;
}

.mdi-light.mdi-inactive {
	color: rgba(255, 255, 255, 0.3);
}
